

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    background-color: aliceblue;
}


img {
    height: auto;
    max-width: 100%;
    position:relative;
    }


h1 {
    text-align:center;
    font-weight: bold;
    color:#49097a;

}

.cardone {
        max-width: 80%;
        border: 1px solid #49097a;
        border-radius: 5px;
        margin: auto;
        padding: 5px;
        text-align: left;
        background-color: white;
      }


.container {
    max-width: 80%;
    border: 1px hidden #49097a;
    border-radius: 10px;
    margin: auto;
    text-align: justify;
}


.link {
    text-align: center;
    background-color:aliceblue;
    color:#49097a;
    border:1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    block-size: auto;
    width:fit-content;
}

a:hover{
    color:lightcoral;
}





    